@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Book.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

.search {
  width: 100%;
}

.search--big {
  height: 70px;
}

.search--small {
  height: 42px;
}

.search__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-color: #fff;
  background-image: url(./images/Search.svg);
  background-repeat: no-repeat;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  border-radius: 4px;
  color: #3d4e61;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

.search__input--big {
  padding-left: 62px;
  background-size: 19px 19px;
  background-position: 26px center;
  font-size: 16px;
  line-height: 22px;
}

.search__input--small {
  padding-left: 33px;
  background-size: 11px 11px;
  background-position: 13px center;
  font-size: 14px;
  line-height: 19px;
}

.search__input::placeholder {
  color: #3d4e61;
}

.search__input:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search__input:focus {
  outline: none;
  font-weight: 900;
}
